@tailwind base;
@tailwind components;
@tailwind utilities;

.font-code {
  font-family: "Source Code Pro", monospace;
  border: 1px solid lightgray;
  padding: 2px;
  color: #1359f4;
}

body {
  font-family: "Inter", sans-serif; /* Ändere dies zu deiner gewünschten Schriftart */
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: gray;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  /* background-color: rgba(0, 0, 0, 0.5); */
  background-color: blue;
  border-radius: 3px;
}

/* For Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
}
